APP_NAME=Ambras
APP_ENV=local
APP_KEY=base64:SVVcqfRBdI/jOt2SHR4lKB9Dg2QoYV0oz30rwCbkY1E=
APP_DEBUG=true
APP_URL=http://ambras.test

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=...
MAIL_PASSWORD=...
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no_reply@ambras.com
MAIL_FROM_NAME="${APP_NAME}"

PASSPORT_CLIENT_ID=1
PASSPORT_CLIENT_SECRET=...
